{% extends 'base.html' %}

{% block content %}

<div class="form-conatiner">
    <div class="form-wrapper">
        <h4 class="text-dark">Edit Subject</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Title</label>
            <input value="{{subject.title}}" class="form-control" name="title">
            <label>Information</label>
            <input value="{{subject.information}}" class="form-control" name="information">
            <label class="d-block">Change Image</label>
            <input type="checkbox" name="change_image">
            <label class="d-block">Image</label>
            <input type="file" placeholder="{{subject.image}}" name="image">
            <button type="submit" class="btn btn-success container-fluid">Update</button>
        </form>
    </div>
    <div class="form-wrapper ml-3">
        <h4>Remove Subject</h4>
        <a href="/subject/remove_data/subject/{{subject.id}}/0" class="btn btn-danger container-fluid">Remove</a>
    </div>
</div>

{% endblock %}