{% extends 'base.html' %}
{% load static %}

{% block content %}

<img src="{{ MEDIA_URL }}background/notes_background.png" class="background-image">

<div class="page-move">

    <div class="page-container px-0 px-md-2 pt-5 pt-lg-0">


        <a href="{% url 'menu' %}" class="btn btn-danger float-left mt-2">Home</a>
        <img src="https://img.icons8.com/cotton/25/000000/create-new--v1.png" class="float-right mr-2 mt-2 clickable" data-toggle="collapse" href=".edit_icon" />

        <h2 class="text-center pt-4">{{ subject.title }}</h2>
        <h6 class="text-secondary text-center pb-3">{{ subject.information }}</h6>

        <div class="row m-0 p-0 justify-content-center">
            {% for section in subject.section.all %}
            <div class="col-12 col-md-6 col-lg-4 p-0 p-md-2 mt-3">
                <div class="row m-0 p-1 secondary-background wobble-onload" id="frontend-section">
                    <div class="col-12 p-0">
                        <a class="float-right collapse edit_icon" href="/subject/edit_section/{{ section.id }}/{{ subject.id }}"><img
                                src="https://img.icons8.com/cotton/25/000000/create-new--v1.png"/></a>
                        <h3 class="py-3 text-center secondary-title">{{ section.title }}</h3>
                        <hr>
                    </div>
                    {% for attribute in section.attribute.all %}
                    <div class="col-12 p-0 d-flex justify-content-between">
                        <h4 class="mb-3">{{ attribute.title }}</h4>
                        <a class="float-right mr-3 collapse edit_icon" href="/subject/edit_attribute/{{ attribute.id }}/{{ subject.id }}"><img
                                src="https://img.icons8.com/cotton/25/000000/create-new--v1.png" /></a>
                    </div>
                    <div class="col-12 px-0 px-lg-2">
                        <dl>
                            {% for dropdown in attribute.dropdown.all %}
                            <dt>
                                <a class="collapse edit_icon mr-2 clickable" href="/subject/edit_dropdown/{{ dropdown.id }}/{{subject.id}}"><img
                                    src="https://img.icons8.com/cotton/20/000000/create-new--v1.png"/></a>
                                {% if dropdown.icon %}
                                {{ dropdown.icon | safe }}
                                {% endif %}
                                <img src="{{ dropdown.image_src }}" class="mr-2" />{{ dropdown.title }} <i
                                    class="far fa-plus-square ml-2 small-icon front-plus " data-toggle="collapse"
                                    href="#dropdown{{ dropdown.id }}-{{forloop.counter}}"></i> 
                                    {% if dropdown.model %}
                                    <img
                                    src="https://img.icons8.com/windows/32/000000/help.png" style="width:25px;"
                                    class="float-right mr-2 click-icon">
                                    {% endif %}
                                </dt>
                            <div class="collapse wrapper" id="dropdown{{ dropdown.id }}-{{forloop.counter}}">
                                <div class="p-2">
                                    {% for item in dropdown.item.all %}
                                    <dd>
                                        <a href="/subject/edit_item/{{ item.id }}/{{ subject.id }}" class="clickable">
                                            <img src="https://img.icons8.com/cotton/18/000000/create-new--v1.png" class="collapse edit_icon"/>
                                        </a>
                                        
                                        {{ item.title }}
                                        {% if item.website %}
                                        <a href="https://{{ item.website }}" target="_blank"><img
                                                src="https://img.icons8.com/color/25/000000/web.png"
                                                class="ml-2 web-icon mr-2" /></a>
                                        {% endif %}
                                        {% if item.modal_boolean %}
                                        <a href="/modal/{{ subject.id}}/{{ item.id }}">
                                            <img src="https://img.icons8.com/windows/32/000000/help.png" style="width:25px;"
                                            class="float-right mr-2 click-icon">
                                        </a>
                                        
                                        {% endif %}

                                    </dd>
                                    {% if not forloop.last %}
                                    <hr>
                                    {% endif %}
                                    {% endfor %}
                                    <hr class="collapse edit_icon">
                                    <dd>{{ item.title }}
                                        <a href="/subject/add_item/{{ dropdown.id }}/{{ subject.id }}"><img
                                                src="https://img.icons8.com/flat_round/20/000000/plus.png"
                                                class="py-1  collapse edit_icon " /></a>
                                    </dd>
                                </div>
                            </div>
                            {% if not forloop.last %}
                            <hr>
                            {% endif %}
                            {% endfor %}
                            <hr class=" collapse edit_icon">
                            <dt class="d-flex justify-content-center"><a
                                    href="/subject/add_dropdown/{{ attribute.id }}/{{subject.id}}"><img
                                        src="https://img.icons8.com/flat_round/20/000000/plus.png" class="py-1 collapse edit_icon" /></a>
                            </dt>
                        </dl>
                    </div>
                    {% endfor %}
                    <div class="col-12 m-0 p-0">
                        <hr>
                    </div>
                    <a class="col-12 p-0 d-flex justify-content-center low-opacity"
                        href="/subject/add_attribute/{{ section.id }}/{{subject.id}}">
                        <img src="https://img.icons8.com/flat_round/25/000000/plus.png" class="py-2 add-icon collapse edit_icon" />
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 col-md-6 col-lg-4 p-0 p-md-2 collapse edit_icon">
                <a class="row m-0 p-1 secondary-background wobble-onload low-opacity" id="frontend-section"
                    href="/subject/add_section/{{ subject.id }}">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="https://img.icons8.com/flat_round/35/000000/plus.png" class="py-2 " />
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}