{% extends 'base.html' %}

{% block content %}

<div class="page-move">

    <div class="page-container px-0 px-md-2 pt-5 pt-lg-0">


    <a href="{% url 'menu' %}" class="btn btn-danger float-left mt-2">Home</a>
    <a class="float-right pt-2" href="/subject/edit_section/{{ subject.id }}"><img src="https://img.icons8.com/cotton/25/000000/create-new--v1.png"/></a>

    <h2 class="text-dark text-center">{{ subject.title }}</h2>
    <h6 class="text-secondary text-center">{{ subject.information }}</h6>
    
    <div class="row m-0 p-0 justify-content-center">
        {% for section in subject.section.all %}
        <div class="col-12 col-md-6 col-lg-4 p-0 p-md-2">
            <div class="row m-0 p-1 secondary-background wobble-onload" id="frontend-section">
                <div class="col-12 p-0">
                    <a class="float-right" href="/subject/edit_attribute/{{ section.id }}"><img src="https://img.icons8.com/cotton/25/000000/create-new--v1.png"/></a>
                    <h3 class="py-3 text-center secondary-title">{{ section.title }}</h3>
                    <hr>
                </div>
                {% for attribute in section.attribute.all %}
                <div class="col-12 p-0 d-flex justify-content-between">
                    <h4 class="mb-3">{{ attribute.title }}</h4>
                    <a class="float-right mr-3" href="/subject/edit_dropdown/{{ attribute.id }}"><img src="https://img.icons8.com/cotton/25/000000/create-new--v1.png"/></a>
                </div>
               
                <div class="col-12 px-0 px-lg-2">
                    <dl>
                        {% for dropdown in attribute.dropdown.all %}
                        <dt><img src="{{ dropdown.image_src }}" class="mr-2" />{{ dropdown.title }} <i
                                class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                href="#{{ dropdown.title }}-{{forloop.counter}}"></i><img src="images/question-mark.png" style="width:25px;"
                                class="float-right mr-2 click-icon"></dt>
                        <div class="collapse wrapper" id="{{ dropdown.title }}-{{forloop.counter}}">
                            <div class="p-2">
                                {% for item in dropdown.item.all %}
                                <dd>{{ item.title }}
                                    <a href="https://sass-lang.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                    <img src="images/question-mark.png" onclick="call_modal('sassModal', 'sass-letter', 'on')" style="width:25px;" class="float-right mr-2 click-icon">
                                </dd>
                                <hr>
                                {% endfor %}
                                    <a class="mr-3" href="/subject/edit_item/{{ dropdown.id }}"><img src="https://img.icons8.com/cotton/25/000000/create-new--v1.png"/></a>
                                
                            </div>
                        </div>
                        {% if not forloop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </dl>
                </div>
               
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>


</div>

</div>
{% endblock %}