{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-conatiner">
    <div class="form-wrapper">
        <h4 class="text-dark">Add Data</h4>

        <form method="POST">
            {% csrf_token %}
            <label>Note Style</label>
            <select name="data_style" class="form-control" id="data_style">
                <option></option>
                <option value="List">List</option>
                <option value="Definition">Definition</option>
            </select>
            <div id="form-container"></div>
            <div id="form-buttons"></div>
            <input type="submit" class="btn btn-success container-fluid mt-3">
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/data_form.js' %}"></script>
{% endblock %}