{% extends 'base.html' %}

{% block content %}
<div class="form-conatiner">
    <div class="form-wrapper">
        <h4 class="text-dark">Add Data</h4>

        <form method="POST">
            {% csrf_token %}
            <label>Note Style</label>
            <select name="data_style" class="form-control" id="data_style">
                <option></option>
                <option value="List">List</option>
                <option value="Definition">Definition</option>
            </select>
            <label>Title</label>
            <input name="title" class="form-control">
            <div id="form-container"></div>
            <div id="form-buttons"></div>
            <input type="submit" class="btn btn-success container-fluid mt-3">
        </form>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        var listCount = 1;

        $(document).on('click','#data_style',  function() {
            listCount = 1;
            $('#form-container').html('');
            $('#form-buttons').html('');

            if ($('#data_style').val() == 'List') {
                var listForm = `
                    <label>Item ${listCount}</label>
                    <input name="item-${listCount}" class="form-control">
                    `;

                $('#form-container').html(listForm);
                $('#form-buttons').html('<div class="btn btn-warning container-fluid mt-3" id="add-item">Add</div>');
            } else if ($('#data_style').val() == 'Definition') {
                var dataForm = `
                    <label>Definition</label>
                    <input name="definition" class="form-control">
                    `;

                $('#form-container').html(dataForm);
            } 

        });
        $(document).on('click', '#add-item',function() {
            listCount++
            var itemInput = `
            <label>Item ${listCount}</label>
            <input name="item-${listCount}" class="form-control">
            `
            $('#form-container').append(itemInput);
        });
    });
</script>

{% endblock %}