{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-conatiner">
    <div class="form-wrapper">
        {% if modal_data %}
        <h4 class="text-dark">Add Data</h4>
        {% else %}
        <h4 class="text-dark">Edit Data</h4>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label>Note Style</label>
            <select name="data_style" class="form-control" id="data_style">
                <option></option>
                <option value="List">List</option>
                <option value="Definition">Definition</option>
                <option value="3D Print">3D Print</option>
            </select>
            <div id="form-container"></div>
            <div id="form-buttons"></div>
            <input type="submit" class="btn btn-success container-fluid mt-3">
        </form>
    </div>

    {% if modal_data %}
    <div class="form-wrapper ml-3">
        <h4>Remove Data</h4>
        <a href="/modal/remove_data/modal_data/{{modal_data.id}}/{{ subject.id }}/{{ item.id }}" class="btn btn-danger container-fluid">Remove</a>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/data_form.js' %}"></script>
{% endblock %}