{% extends 'base.html' %}
{% load static %}

{% block content %}

<img src="{{ MEDIA_URL }}background/notes_background.png" class="background-image">

<div class="page-move">

    <div class="page-container px-0 px-md-2 pt-5 pt-lg-0">


        <a href="/subject/subject/{{subject.id}}" class="btn btn-danger float-left mt-2">{{ subject.title }}</a>
        <img src="https://img.icons8.com/cotton/25/000000/create-new--v1.png" class="float-right mr-2 mt-2 clickable" data-toggle="collapse" href=".edit_icon" />

        <h2 class="text-center pt-4">{{ item.title }}</h2>

        <div class="information-container">
        {% for section in sections %}
            <a class="float-left mr-3 collapse edit_icon" href="/modal/edit_modal_section/{{ section.id }}"><img
                src="https://img.icons8.com/cotton/25/000000/create-new--v1.png" /></a>
            <h5 class="text-center">{{section.title }}</h5>
            <p class="text-center text-seondary">{{section.information}}</p>
            <hr>

            

            {% for data in section.data %}
                {{ data.data_style }}
                {% for item in data.data %}
                    {{ item }}
                    <br>
                {% endfor %}
                <br>
            {% endfor %}
            {% if not forloop.last %}
                <hr>
            {% endif %}
       {% endfor %}
        </div>

        <div class="collapse edit_icon">
            <a href="/modal/add_modal_section/{{ subject.id }}/{{ item.id }}"><img
                src="https://img.icons8.com/flat_round/30/000000/plus.png"
                class="py-1  collapse edit_icon d-block mx-auto mt-3" /></a>
        </div>
       
    </div>
</div>
{% endblock %}