{% extends 'base.html' %}
{% load static %}

{% block content %}

<img src="{{ MEDIA_URL }}background/notes_background.png" class="background-image">

<div class="page-move">

    <div class="page-container px-0 px-md-2 pt-5 pt-lg-0">


        <a href="/subject/{{subject.id}}" class="btn btn-danger float-left mt-2">{{ subject.title }}</a>
        <img src="https://img.icons8.com/cotton/25/000000/create-new--v1.png" class="float-right mr-2 mt-2 clickable"
            data-toggle="collapse" href=".edit_icon" />
        <h2 class="text-center pt-4">{{ item.title }}</h2>
        <div class="row m-0">
            {% for section in sections %}
            <div class="col-12 p-2 ">
                <div class="information-container ">
                    <a class="float-left mr-3 collapse edit_icon" href="/modal/edit_modal_section/{{ section.id }}"><img
                            src="https://img.icons8.com/cotton/25/000000/create-new--v1.png" /></a>
                            <img src="{{ dropdown.image_src }}" class="mr-2 float-right" />{{ dropdown.title }} <i
                            class="far fa-plus-square ml-2 small-icon front-plus " data-toggle="collapse"
                            href="#dropdown-{{section.id}}"></i> 
                            <h5 class="text-start m-0">{{section.title }}</h5>
                    <small class="text-center text-seondary">{{section.information}}</small>
                    
                    <div class="collapse" id="dropdown-{{section.id}}">
                        <hr>
                        {% for data in section.data %}
                        <a class="float-left mr-3 collapse edit_icon" href="/modal/edit_modal_section/{{ data.id }}"><img
                            src="https://img.icons8.com/cotton/25/000000/create-new--v1.png" /></a>
                        <!-- displaying the data in differnt styles -->
                        <!-- list -->
                        {% if data.data_style == 'List' %}
                        <small>{{ data.data_style }}</small>
                        <br>
                        <b>{{ data.title }}</b>
                        <br>
                        <ol>
                            {% for item in data.data %}
                              <li>{{ item }}</li>
                            {% endfor %}
                        </ol>
                         <!-- definition -->
                        {% elif data.data_style == 'Definition' %}
                        <small>{{ data.data_style }}</small>
                        <br>
                        <p><b>{{ data.title }}</b> --- {{ data.data }}</p>
                        {% endif %}

                        {% if not forloop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                        <div class="collapse edit_icon">
                            <a href="/modal/add_data/{{ section.id }}/{{ item.id }}/{{subject.id}}"><img
                                    src="https://img.icons8.com/flat_round/30/000000/plus.png"
                                    class="py-1 d-block mx-auto mt-3" /></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 p-2">
                <div class="collapse edit_icon low-opacity">
                    <a href="/modal/add_modal_section/{{ subject.id }}/{{ item.id }}"><img
                            src="https://img.icons8.com/flat_round/30/000000/plus.png"
                            class="py-1 collapse edit_icon d-block mx-auto mt-3" /></a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}